<div class="columns">
  <div class="column">
    <form action="/personajes/agregar" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
      <label for="nombre" class="label">Nombre del personaje</label>
      <input
        class="input is-primary"
        type="text"
        placeholder="Cheewbaca"
        id="nombre"
        name="nombre"
        required
      />
      <br><br>
      <label for="niveles" class="label">Nivel de uso de la fuerza</label>
      <div class="select is-primary">
        <select id="niveles" name="niveles">
          <% for(let nivel of niveles) { %>
            <option value="<%= nivel.id %>"><%= nivel.nivel%></option>
          <% } %>
        </select>
      </div>
      <br><br>
      <label for="archivo" class="label">Imagen</label>
      <input 
        type="file" 
        id="archivo" 
        name="archivo" 
        accept=".png, .jpg, .jpeg, .gif"
        class="input is-primary">
      <br><br>
      <input type="submit" id="boton_personaje" class="button is-primary" value="Guardar personaje">
    </form>
  </div>
</div>