<div class="columns">
    <div class="column">
        <form action="/users/login" method="POST">
            <label class="label">Usuario</label>
            <input class="input is-primary" type="text" placeholder="Cheewbaca" id="username" name="username"/>
            <br><br>
            <label class="label">Password</label>
            <input class="input is-primary" type="password" placeholder="Cheewbaca" id="password" name="password"/>
            <br><br>
            <input type="submit" id="boton_imagen" class="button is-primary" value="Login"/>
        </form>
    </div>
</div> 