<div class="columns">
    <div class="column">
        <form action="<% if (isNew) { %> /users/signup <% } else { %> /users/login <% } %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label class="label">Usuario</label>
            <input class="input is-primary" type="text" placeholder="Cheewbaca" id="username" name="username"/>
            <br><br>
            <label class="label">Password</label>
            <input class="input is-primary" type="password" placeholder="Cheewbaca" id="password" name="password"/>
            <br><br>
            <input type="submit" id="boton_imagen" class="button is-primary" value="Login"/>
        </form>
    </div>
</div> 