<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <h1>Productos</h1>
    <form action="/productos" method="POST">
        <input class="input is-primary" type="text" 
            placeholder="que producto estas buscando" 
            id="producto" name="nombre"
        />
        <br><br>
        <input type="submit" id="boton_imagen" class="button is-primary" value="buscar"/>
    </form>
</head>
<body>
    
</body>
</html>