<%- include('includes/_header.ejs') %>

<% if (info != '') { %>
    <div class="notification is-ubfi">
        <%= info %>
    </div>
<% } %>
<a class="button is-primary" href="/personajes/agregar">Agregar personaje</a>

<% for (let personaje of personajes) { %>
    <div class="card">
        <div class="card-content">
            <p class="title">
                <%= personaje.nombre %>
            </p>
        </div>
    </div>
<% } %>
<%- include('includes/_footer.ejs') %>